/* Inter Font Import */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');

::placeholder {
  font-size: 1rem;
  padding-left: 10px;
  text-align: left;
  width: 100%;
  color: rgb(134, 134, 134);
}

* {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  letter-spacing: -0.01em;
}


::-webkit-scrollbar {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important
}